<div class="btn-group email-buttons">
    <div class="btn-group"
         *ngFor="let label of recipients; let i = index">
      <label *ngIf="index == 0"
             class="btn btn-primary"
             [(ngModel)]="emailSelection[label]"
             btnCheckbox>{{label}}</label>

      <label *ngIf="index != 1 && index != recipients.length - 1"
             class="btn btn-primary"
             [(ngModel)]="emailSelection[label]"
             btnCheckbox>{{label}}</label>

      <label *ngIf="index == recipients.length - 1"
             class="btn btn-primary"
             [(ngModel)]="emailSelection[label]"
             btnCheckbox>{{label}}</label>
    </div>
  </div>