// $desktop: 960px;
$tablet: 768px;
$gt-tablet:769px;
// $mobile-large: 640px;
// $mobile: 480px;
// $mobile-small: 300px;

.container {
  min-height: 400px;
  width: 100%;
  display: flex;
  margin-top: 2%;
}

.subject, .body {
  margin-bottom: 25px;
}

.subject {
  margin-top: 25px;
}

.real-wide {
  @media only screen and (max-width: $tablet){
    width: 80%;
  }
  @media only screen and (min-width: $gt-tablet){
    width: 50%;
  }
}
