.container {
  min-height: 400px;
  width: 100%;
  display: flex;
}

.email-buttons {
  margin-top: 5%;
}

.subject, .body {
  margin-bottom: 25px;
}

.subject {
  margin-top: 25px;
}

.real-wide {
  width: 90%;
}

.submit {
  // margin-left: 192px;
}

.button-spacer{
  max-width: 30%;
}
