.container {
  min-height: 400px;
  width: 100%;
  display: flex;
  margin-top: 2%;
}

.subject, .body {
  margin-bottom: 25px;
}

.subject {
  margin-top: 25px;
}

.real-wide {
  max-width: 90%;
  min-width: 20%;
}
