<div fxLayout="column"
     class="container top-margin-5"
     fxLayoutAlign="start center">
  <div>
    <app-email-buttons [(emailSelection)]="emailSelection"
                       [recipients]="recipients"> </app-email-buttons>
  </div>

  <div class="real-wide">
    <input [(ngModel)]="subject"
           fxFlex="grow"
           class="form-control subject"
           [focusEvent]="focusSubject"
           (keyup.enter)="submit()"
           appAutofocus>
  </div>

  <div class="real-wide">
    <textarea [(ngModel)]="body"
              fxFlex
              rows="5"
              cols="30"
              class="form-control body"></textarea>
  </div>
  <div class="real-wide"
       fxLayoutAlign="center center"
       fxLayout="row">
    <label class="btn btn-danger clear"
           (click)="clear()"
           fxFlexAlign="end">Clear</label>
    <div fxFlex
         class="button-spacer"></div>
    <button type="button"
            class="btn btn-success submit"
            [disabled]="disableSubmit"
            (click)="submit()"
            fxFlexAlign="start">Submit</button>
  </div>
</div>