<!-- <div fxLayout="column"
     class="container"
     fxLayoutAlign="space-around center"> -->
<div fxLayout="column"
     class="container"
     fxLayoutAlign="center center">
  <div>
    <app-email-buttons class="email-buttons "
                       [(emailSelection)]="emailSelection"
                       [recipients]="recipients"> </app-email-buttons>
  </div>

  <div>
    <input [(ngModel)]="subject"
           class="form-control subject">
  </div>

  <div>
    <textarea [(ngModel)]="body"
              rows="5"
              cols="30"
              class="form-control body"></textarea>
  </div>
  <div fxLayout="row">
    <label class="btn btn-primary submit"
           (click)="submit()"
           fxFlexAlign="end">Submit</label>
  </div>
</div>